[Unit]
Description=Ripple Daemon

[Service]
Type=simple
ExecStart=LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/ripple/openssl/lib:/opt/ripple/boost/lib /opt/ripple/bin/rippled --conf /opt/ripple/etc/rippled.cfg
ExecStop=LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/ripple/openssl/lib:/opt/ripple/boost/lib /opt/ripple/bin/rippled --conf /opt/ripple/etc/rippled.cfg stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
