[Unit]
Description=Ripple Daemon
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/ripple/bin/rippled --net --silent --conf /etc/opt/ripple/rippled.cfg
# Default KillSignal can be used if/when rippled handles SIGTERM
KillSignal=SIGINT
Restart=no
User=rippled
Group=rippled

[Install]
WantedBy=multi-user.target
